<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajax上传图片</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.0/lib/theme-chalk/index.css">
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.2.0/lib/index.js"></script>
    <style>
        body {
            /* overflow: hidden; */
            color: #555555;
        }

        * {
            padding: 0;
            margin: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .el-icon-document {
            display: none;
        }

        #imgConnect {
            padding: 10px 50px 0;
            display: flex;
            position: relative;
            justify-content: space-between;
        }

        .conleft,
        .conright {
            width: 50%;
            height: 100%;
        }

        .conleft {
            padding-right: 10px;
        }

        .conright {
            position: fixed;
            right: 0;
            padding-right: 50px;
        }

        .imgBox {
            padding-left: 20px;
            width: 80%;
        }

        .shili {
            box-shadow: 0px 0px 0px 1px #aaa;
            width: 400px;
            height: 500px;
            position: relative;
            overflow: hidden;
        }

        .shiliImg {
            position: absolute;
            transition: 0.2s;
            -webkit-transition: 0.2s;
        }

        .el-input-group {
            margin-top: 20px;
            padding-left: 10px;
        }

        .el-input-group__append,
        .el-input-group__prepend {
            padding: 0 10px;
        }

        .el-tabs--left .el-tabs__item.is-left {
            text-align: left;
        }

        .bz {
            margin-bottom: 20px;
        }

        .el-tag--danger {
            margin-bottom: 10px;
        }
        .title{
            width: 100%;
            text-align: center;
            padding:10px;
        }
    </style>
</head>
<body>
    <p class="title">提示：上传的水印与图片尽量格式一致，否则有可能会处理失败，水印位置不能超出图片</p>

    <div id="imgConnect">
        <div class="conleft">
            <div class="bz">
                <el-tag type="danger">步骤一：请选择设置水印在图片中的位置</el-tag>
                <el-tabs @tab-click="tabClick" tab-position="left" style="height: 300px;width: 80%;">
                    <el-tab-pane label="左上角">
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离左</div>
                            <input maxlength="5" @keyup="inputChange('shiliLeft',shiliLeft,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'');" v-model="shiliLeft" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离上</div>
                            <input maxlength="5"  @keyup="inputChange('shiliTop',shiliTop,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliTop" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="右上角">
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离右</div>
                            <input maxlength="5" @keyup="inputChange('shiliRight',shiliRight,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliRight" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离上</div>
                            <input maxlength="5" @keyup="inputChange('shiliTop',shiliTop,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliTop" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="左下角">
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离左</div>
                            <input maxlength="5" @keyup="inputChange('shiliLeft',shiliLeft,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliLeft" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离下</div>
                            <input maxlength="5" @keyup="inputChange('shiliBottom',shiliBottom,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliBottom" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="右下角">
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离右</div>
                            <input maxlength="5" @keyup="inputChange('shiliRight',shiliRight,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliRight" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离下</div>
                            <input maxlength="5" @keyup="inputChange('shiliBottom',shiliBottom,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliBottom" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="上下居中">
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离左</div>
                            <input maxlength="5" @keyup="shiliRight='';inputChange('shiliLeft',shiliLeft,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliLeft" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                        <p style="margin: 20px 0 0 11px;text-align: center;">或者</p>
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离右</div>
                            <input maxlength="5" @keyup="shiliLeft='';inputChange('shiliRight',shiliRight,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliRight" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="左右居中">
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离上</div>
                            <input maxlength="5" @keyup="shiliBottom='';inputChange('shiliTop',shiliTop,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliTop" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                        <p style="margin: 20px 0 0 11px;text-align: center;">或者</p>
                        <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
                            <div class="el-input-group__prepend">距离下</div>
                            <input maxlength="5" @keyup="shiliTop='';inputChange('shiliBottom',shiliBottom,$event)" onkeyup="value=value.replace(/[^\d\.]/g,'')" v-model="shiliBottom" placeholder="请输入内容" type="text" validateevent="true"
                                class="el-input__inner">
                            <div class="el-input-group__append">%</div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="全部居中">
                        <div style="height:300px;display:flex;align-items: center;
                            justify-content:center;">请参考示例</div>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <div class="bz">
                <el-tag type="danger">步骤二：请选择设置水印</el-tag>
                <el-upload class="imgBox" action='' :auto-upload="false" :file-list="shuiFileList" list-type="picture" :on-change="handleShuiChange">
                    <el-button size="small" plain type="primary">选择水印</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传1张jpg/png文件</div>
                </el-upload>
            </div>
            <div class="bz">
                <el-tag type="danger">步骤三：选择上传图片</el-tag>
                <el-upload class="imgBox" multiple action='' :limit="limit" :on-change="handleChange" :on-exceed="handleExceed" :auto-upload="false"
                    :on-remove="handleRemove" :file-list="fileList" list-type="picture">
                    <el-button size="small" type="primary">选择图片</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，最大上传{{limit}}，还剩{{limit-fileList.length}}</div>
                </el-upload>
            </div>

        </div>
        <div class="conright">
            <!-- <p>示例：</p> -->
            <div class="shili">
                <img :style="imgStyleObject" style=" filter: sepia(100%);" :width="shiliWidth" :height="shiliHeight" class="shiliImg" src="../images/icon.jpg" alt="">
            </div>
            <div style="margin-top:10px">
                <el-button @click="uploadFile" size="small" type="primary">提交</el-button>
                <el-button @click="handleClick" size="small" type="primary" plain>立即下载</el-button>
                <iframe name="myIframe" style="display:none"></iframe>
            </div>
        </div>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#imgConnect',
        data: function () {
            return {
                tabIndex:'0',
                limit: 20,
                path: '',
                fileList: [],
                shuiFileList: [],
                shiliTop: '0',
                shiliLeft: '0',
                shiliRight: '',
                shiliBottom: '',
                shiliWidth: '',
                shiliHeight: '',
                imgStyleObject: {
                    tabIndex:'0',
                }
            }
        },
        methods: {
            tabClick(tab, event) {
                // console.log(tab, event);
                var index = Number(tab.index);
                this.tabIndex = index;
                // 先取消之前设置过得数据
                this.shiliTop = '';
                this.shiliLeft = '';
                this.shiliRight = '';
                this.shiliBottom = '';
                this.imgStyleObject = {};
                switch(index){
                    case 0://左上
                        this.shiliTop = '0';
                        this.shiliLeft = '0';
                        this.imgStyleObject = {
                            top:0,
                            left:0
                        };
                        break;
                    case 1://右上
                        this.shiliTop = '0';
                        this.shiliRight = '0';
                        this.imgStyleObject = {
                            top:0,
                            right:0
                        };
                        break;
                    case 2://左下
                        this.shiliLeft = '0';
                        this.shiliBottom = '0';
                        this.imgStyleObject = {
                            bottom:0,
                            left:0
                        };
                        break;
                    case 3://右下
                        this.shiliRight = '0';
                        this.shiliBottom = '0';
                        this.imgStyleObject = {
                            bottom:0,
                            right:0
                        };
                        break;
                    case 4://上下居中
                        this.shiliLeft = '0';
                        this.imgStyleObject = {
                            top:'50%',
                            transform: 'translateY(-50%)',
                            left:0
                        };
                        break;
                    case 5://左右居中
                        this.shiliTop = '0';
                        this.imgStyleObject = {
                            left:'50%',
                            transform: 'translateX(-50%)',
                            top:0
                        };
                        break;
                    case 6://全部居中
                        this.imgStyleObject = {
                            top:'50%',
                            left: '50%',
                            transform: "translate(-50%,-50%)"
                        };
                        break;
                    default:;
                }
                this.imgStyleObject['tabIndex'] = this.tabIndex;
            },
            inputChange(weizhi,value,val){
                this[weizhi] = value.replace(/[^\d\.]/g,'')==''?'0':value.replace(/[^\d\.]/g,'');
                // this[weizhi] = value.replace(/[^\d\.]/g,'');
                // console.log(val)
                if(val.key=='.'){
                    if(this[weizhi].split('.').length>=3){
                        this[weizhi] = 0;
                    }
                }
                if(value.replace(/[^\d\.]/g,'')>100){
                    this.$notify.error({
                        title: '错误',
                        message: '距离超过了100%',
                        duration: 2000
                    });
                    this[weizhi] = '0';
                }
                if(this.tabIndex==4){
                    // console.log(this.shiliLeft)
                    this.imgStyleObject = {
                        tabIndex:'4',
                        top:'50%',
                        transform: 'translateY(-50%)',
                        left:this.shiliLeft==''?'':this.shiliLeft+'%',
                        right:this.shiliRight==''?'':this.shiliRight+'%',
                    };
                    // console.log(this.imgStyleObject)
                }else if(this.tabIndex==5){
                    this.imgStyleObject = {
                        tabIndex:'5',
                        top:this.shiliTop==''?'':this.shiliTop+'%',
                        bottom:this.shiliBottom==''?'':this.shiliBottom+'%',
                        left:'50%',
                        transform: 'translateX(-50%)',
                    };
                }else{
                    // console.log(this.shiliBottom)
                    this.imgStyleObject = {
                        tabIndex:this.tabIndex,
                        top:this.shiliTop==''?'':this.shiliTop+'%',
                        bottom:this.shiliBottom==''?'':this.shiliBottom+'%',
                        left:this.shiliLeft==''?'':this.shiliLeft+'%',
                        right:this.shiliRight==''?'':this.shiliRight+'%',
                    };
                }
                // console.log(this.imgStyleObject)
            },
            handleRemove(file, fileList) {
                // console.log(file, fileList);
                this.fileList = fileList;
            },
            handleChange(file, fileList) {
                // alert(1)
                // console.log(fileList);
                this.fileList = fileList;
            },
            handleShuiChange(file, fileList) {
                // alert(1)
                // console.log(fileList);
                this.shuiFileList = fileList;
            },
            handleExceed(file, fileList) {
                alert('超出限制')
                // console.log(file);
            },
            uploadFile: function () {
                var that = this;
                var file = this.fileList;
                var formData = new FormData();
                if(file==''||!this.shuiFileList[0]){
                    alert('请先上传图片以及水印');
                    return;
                }
                var shuiyin = this.shuiFileList[0].raw;
                var newfile = new File([shuiyin], 's_y.' + shuiyin.name.split('.').pop());
                formData.append('file', newfile)
                for (var i in file) { //这里如果单张上传就不必遍历直接formData.append('file',file.files[0])
                    // console.log(file.files[i])    
                    formData.append('file', file[i].raw);
                }
                formData.append('weizhi',JSON.stringify(this.imgStyleObject))
                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.code != 200) {
                            alert('上传错误')
                        } else {
                            that.path = data.file[0].destination;
                            alert('上传成功')
                        }
                    },
                    error: function () {

                    }
                });
            },
            handleClick: function () {
                var that = this;
                $.ajax({
                    url: '/downloadAll',
                    type: 'POST',
                    data: {
                        path: that.path
                    },
                    success: function (data) {
                        if (data.code != 200) {
                            alert('下载错误')
                        } else {
                            var path = 'uploads/' + data.file.split('/').pop();
                            window.open(path, 'myIframe');
                        }
                    },
                    error: function () {

                    }
                });
            }
        },
        mounted: function () {

        }
    })
</script>

</html>